:root {
    -- title-color: #212121;
    -- text-color: #757575;
    -- background-color: #F5F5F5;
    -- active-color: #2196F3;

}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}


/* Header */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.navigation {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.navigation:active
.contacts:active {
    color: var(--active-color);
}


.btn {
    cursor: pointer;
}
/* Studio */


/* Portfolio */
.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.card-filter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Приховані заголовки */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Прибрати підкреслення у посиланнях */
a {
    text-decoration: none;
}
/* Прибрати маркери у списках */
ul {
    list-style: none;
}
